mandel_iter.html linguist-generated
src/color.js linguist-generated
src/dialog.js linguist-generated
src/fileio.js linguist-generated
src/highlight.js linguist-generated
src/main.js linguist-generated
src/motion.js linguist-generated
src/uioption.js linguist-generated

src/page.html.m4 linguist-language=HTML
