color.js linguist-generated
dialog.js linguist-generated
fileio.js linguist-generated
highlight.js linguist-generated
mandel_iter.html linguist-generated
main.js linguist-generated
motion.js linguist-generated
uioption.js linguist-generated

*.html.m4 linguist-language=HTML
