body {
  background: #bbb;
}

h1 {
  margin-top: 0.666rem;
  padding-top: 7px;
  padding-bottom: 7px;
}

#debugbox {
  color: #0F0;
  background: #000;
  border-radius: 6px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

#debugbox .hdr {
  display: inline-block;
  background-color: #040;
  text-shadow: 0px 0px 2px rgb(0, 0, 0);
  border-right: 1px dotted #0F0;
  padding: 2px 5px;
  margin-right: 8px;
}

#debugbox .msg {
  display: inline-block;
  padding: 2px 5px;
}

.panel {
  border: 1px outset rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: #dddddd;
  padding: 4px;
}

#content > .graph.panel {
}

.graph_canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.canvas_size {
  width: 900px;
  height: 600px;
}

.canvas_wrapper {
  background-color: #fff;
  border-radius: 3px;
  border: 1px inset rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.clear_both {
  clear: both;
}

.resizable {
  resize: both;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.panel {
  box-shadow: 1px 1px 6px -3px rgba(0, 0, 0, 0.22), 0 0 20px -4px rgba(255, 255, 255, 0.45) inset;
}

.graph.panel {
  float: left;
  margin-right: 7px;
  padding: 4px;
}

.info.panel {
  float: left;
}

.graph.panel,
.info.panel {
  margin-bottom: 7px;
}

.info.panel > table {
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 0px;
}

.ui.panel {
  clear: both;
}

footer {
  clear: both;
}

.panel tr > th:first-child {
  text-align: right;
  padding-right: 0.4em;
}


.ui.panel > .buttonbox {
  display: inline-block;
}

.buttonbox > .title {
  display: inline-block;
  position: relative;
  top: -1px;
  margin-left: 1em;
  margin-right: 0.333em;
}

.buttonbox > .title:first-child {
  font-weight: bold;
  margin-left: 0em;
  margin-right: 1em;
}

.buttonbox.bbright {
  float: right;
}

.buttonbox.bbright ~ hr {\
  margin-top: 4px;
  margin-bottom: 4px;
  opacity: 0.15;
}

.buttonbox > label + label {
  margin-left: 1em;
}

.buttonbox.uioptbox > label {
  position: relative;
  top: -1px;
}

/* .buttonbox input[type="checkbox"] { */
/*   position: relative; */
/*   top: 2px; */
/* } */

.ui.panel > hr ~ h3 {
  margin-top: 0.5rem;
}

td.blank {
  border: none;
}

#runbox {
  min-width: 5em;
}

#num_points {
  width: 2em;
}

.buttonbox + .buttonbox {
  margin-left: 1em;
}

.buttonbox > pre {
  margin: 0;
  border-radius: 6px;
  background-color: #fff;
}

#tbox2 {
}

#tbox_slider {
  width: 24em;
  display: inline-block;
}

#tbox > pre,
#tbox_slider {
  box-shadow: 1px 1px 2px -1px rgb(0, 0, 0) inset;
}

#tbox_slider_handle {
  /* border-style: outset; */
  /* border-width: 2px; */
}

.tbox_slider_btn_wrapper {
  display: inline-block;
}

#canvas_width,
#canvas_height {
  width: 4em;
}

.highlight > td {
  background-color: #F9FBB6;
}
