body {
  background: #bbb;
}

h1 {
  margin-top: 0.666rem;
  padding-top: 7px;
  padding-bottom: 7px;
}

#debugbox {
  color: #0F0;
  background: #000;
  border-radius: 6px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

#debugbox .hdr {
  display: inline-block;
  background-color: #040;
  text-shadow: 0px 0px 2px rgb(0, 0, 0);
  border-right: 1px dotted #0F0;
  padding: 2px 5px;
  margin-right: 8px;
}

#debugbox .msg {
  display: inline-block;
  padding: 2px 5px;
}

.panel {
  border: 1px outset rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: #dddddd;
  padding: 4px;
}

.graph_canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.canvas_size {
  width: 900px;
  height: 600px;
}

.canvas_wrapper {
  background-color: #fff;
  border-radius: 3px;
  border: 1px inset rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.hidden {
  display: none;
}

.clear_both {
  clear: both;
}

.resizable {
  resize: both;
}

.center {
  text-align: center;
}
.right {
  text-align: right;
}

.numfloat {
  background-color: #fff;
  padding: 2px 7px;
  font-family: monospace;
  min-width: 11em;
}

.panel {
  background-color: #ebebeb;
  box-shadow: 1px 1px 6px -3px rgba(0, 0, 0, 0.22), 0 0 20px -4px rgba(255, 255, 255, 0.45) inset;
}

.graph.panel {
  float: left;
  margin-right: 7px;
  padding: 4px;
}

.info.panel {
  float: left;
}

.graph.panel,
.info.panel {
  margin-bottom: 7px;
}

.info.panel > table {
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 0px;
}

.ui.panel {
  clear: both;
}

footer {
  clear: both;
}

.panel tr > th:first-child {
  text-align: right;
  padding-right: 0.4em;
}


.ui.panel > .buttonbox {
  display: inline-block;
}

.ui.panel > .buttonbox:first-child {
  margin-left: 0.2rem;
}

.buttonbox > button {
  background-color: #d2d2d2;
  border: 2px outset #cccccc;
  border-radius: 3px;
}

.buttonbox > .title {
  display: inline-block;
  position: relative;
  top: -1px;
  margin-left: 1em;
  margin-right: 0.333em;
}

.buttonbox > .title:first-child {
  font-weight: bold;
  margin-left: 0em;
  margin-right: 1em;
}

.buttonbox.bbright {
  float: right;
}

.buttonbox.bbright ~ hr {\
  margin-top: 4px;
  margin-bottom: 4px;
  opacity: 0.15;
}

.buttonbox > label {
  margin-left: 1em;
}

.buttonbox > label > input[type=number] {
  max-width: 4em;
}

.buttonbox.uioptbox > label {
  position: relative;
  top: -1px;
}

.buttonbox input[type="checkbox"] {
  position: relative;
  top: 2px;
}

.buttonbox input[type="range"] {
  margin: 0px 3px;
  position: relative;
  top: 6px;
}

.optionbox {
  margin: 0.2rem;
  padding: 0.3rem;
}

.optionbox.obleft {
  float: left;
}

.optionbox.obright {
  float: right;
}

.optionbox > h3 {
  float: left;
  margin-left: 0.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px outset #bbb;
  border-radius: 3px;
  padding: 2px 5px;
  background-color: #ccc
}

.optionbox > table {
  clear: left;
  margin-left: 0.35rem;
}

.ui.panel > hr ~ h3 {
  margin-top: 0.5rem;
}

td.blank {
  border: none;
}

#num_points {
  width: 2em;
}

.buttonbox + .buttonbox {
  margin-left: 1em;
}

.buttonbox > pre {
  margin: 0;
  border-radius: 6px;
  background-color: #fff;
}

#canvas_width,
#canvas_height {
  width: 4em;
}

.highlight > td {
  background-color: #F9FBB6;
}

.tt {
  position: relative;
}

.tt::before {
   content: attr(data-title);
   display: none;
   position: absolute;
   width: 240px;
   z-index: 2;

   padding: 3px 5px;
   text-align: left;
   background-color: #f4f4f4;
   border: 2px solid #222;
   border-radius: 6px;
}

.tt.ttleft::before {
   top: 165%;
   right: 0;
}

.tt.ttright::before {
   top: 145%;
   left: 0;
}

.tt.ttleft::after {
  content: " ";
  display: none;
  position: absolute;
  z-index: 1;
  bottom: -12px;
  left: 50%;
  margin-top: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #222 transparent;
}

.tt.ttright::after {
  content: " ";
  display: none;
  position: absolute;
  z-index: 1;
  bottom: -12px;
  left: 50%;
  margin-top: -8px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #222 transparent;
}

.show_tt .tt:hover::before,
.show_tt .tt.ttleft:hover::after,
.show_tt .tt.ttright:hover::after {
  display: block;
}

#rendering_note {
  float: left;
  position: absolute;
  top: 10em;
  left: 10em;
  padding: 1em;
  background-color: rgba(230, 215, 215, 0.88);
  border: 3px dashed rgba(255, 18, 18, 0.9);
  border-radius: 22px;
  font-size: xx-large;
  color: #000;
  z-index: 1;
  box-shadow: 3px 4px 15px rgba(68, 21, 21, 0.9);
  text-shadow: 1px 1px 1px rgba(255,234,234,0.7);
}

#rendering_note_value {
  font-weight: bolder;
}


.textcolor.red   { color: rgb(255, 0, 0); }
.textcolor.green { color: rgb(0, 255, 0); }
.textcolor.blue  { color: rgb(0, 0, 255); }

td.slider > label {
  display: inline-block;
  position: relative;
  top: -4px;
  width: 2.4em;
  margin-right: 0.3em;
  margin-left: 0.5em;
  padding: 1px 2px;

  background-color: #f5f5f5;
  box-shadow: 0px 1px 7px 1px #fff inset;

  font-family: monospace;
  font-weight: bold;
  text-align: right;
}

#status {
  color: black;
  display: inline-block;
  padding: 2px 4px ;
  border-radius: 5px;
  border: 1px inset #C0C0C0;
  box-shadow: 1px 1px 6px -3px rgba(0, 0, 0, 0.22);
  font-size: large;
}

#status.loading {
  color: #6D6D6D;
  border-color: #D4D690;
  background-color: #DDDCC3;
}

#status.rendering {
  color: #1F1515;
  border-color: #A8625F;
  background-color: #DCC2C2;
}

#status.normal {
  color: #0D2F0C;
  border-color: #6af215;
  background-color: #C5D7C4;
  text-shadow: 1px 1px 3px rgba(107,186,100,0.15);
}

#status.paused {
  color: #000;
  border-color: #2AADD5;
  background-color: #BCD2D9;
  text-shadow: 1px 1px 3px rgba(133,187,212,0.08);
}

.statusmsg {
  display: none;
}

#status.loading   > .statusmsg.loading,
#status.rendering > .statusmsg.rendering,
#status.normal    > .statusmsg.normal,
#status.paused    > .statusmsg.paused {
  display: inline;
}
